@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
body,
html,
[data-js="app"],
.editor {
  width: 100%;
  height: 100%;
}
.editor {
  display: flex;
  flex-wrap: wrap;
}
textarea {
  width: 40%;
  height: calc(100% - 60px);
  display: inline-block;
  border: 0;
  padding: 1%;
  font-size: 1m;
}
.files-list {
  height: calc(100% - 40px);
  width: 20%;
  padding: 20px;
  background-color: #ccc;
}
.view {
  width: 40%;
  height: calc(100% - 40px);
  display: inline-block;
  background-color: #000;
  color: #FFF;
  padding: 1%;
  overflow: auto;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #2f2e2e;
      align-items: center;
}
.save-message {
    display: flex;
    color: #FFF;
    font-weight: 400;
    font-size: 1.2em;
    margin-right: 20px;
        padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

